_xmsgs
*.bld
*.cmd
*.cmd_log
*.csv
*.err
*.exe
*.gise
*.gyd
*.html
*.ini
*.jed
*.log
*.lso
*.mfd
*.nga
*.ngc
*.ngd
*.ngr
*.pad
*.pnx
*.prj
*.rpt
*.spl
*.sym
*.syr
*.stx
*.tim
*.tspec
*.vdb
*.vm6
*.wdb
*.xst
*.xrpt
*.xml
*.xmsgs
_ngo
*_html
iseconfig
isim
xlnx_auto_*
xst
