_xmsgs
*.bld
*.cmd_log
*.csv
*.err
*.gise
*.gyd
*.html
*.jed
*.lso
*.mfd
*.nga
*.ngc
*.ngd
*.ngr
*.pad
*.pnx
*.prj
*.rpt
*.spl
*.sym
*.syr
*.stx
*.tim
*.tspec
*.vm6
*.xst
*.xrpt
*.xml
_ngo
controller_html
iseconfig
xlnx_auto_*
xst
